<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceManager" />
                <binding name="BasicHttpBinding_IMyTranslator" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceClient" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GameService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceClient"
                contract="ServiceReference.IServiceClient" name="WSDualHttpBinding_IServiceClient">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GameService/Service1/w"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceManager"
                contract="ServiceReference.IServiceManager" name="BasicHttpBinding_IServiceManager" />
            <endpoint address="http://localhost:53061/MyTranslator.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyTranslator" contract="ServiceReference1.IMyTranslator"
                name="BasicHttpBinding_IMyTranslator" />
        </client>
    </system.serviceModel>
</configuration>