<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="2000">
          
        </channel>
      </channels>
      <service>
        <wellknown type="Worker.WorkerImpl, Worker" mode="Singleton" objectUri="Worker.soap"/>
      </service>
    </application>
  </system.runtime.remoting>-->
</configuration>